div{
  height: 200px;
  width: 500px;
border:solid black 2px;
margin:auto;
margin-top:  20px;}

*{
 text-align: center;
}
p{
  margin-left: 20px;
  color: blue;
  font-size: large;
  font-weight: 700;

}